a{
  text-decoration: none !important;
}
.nav-link.active {
  color: #004cda !important; /* Active link color */
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.price-before {
  text-decoration: line-through;
  color: #888; 
  font-size: 25px;
}
.input-code {
  border: 2px solid #004cda;
  width: 50px;
  height: 50px;
  margin-right: 8px;
}
.input-code:last-child {
  margin-right: 0;
}
.page-title .bread-crumb{
  bottom: 0px !important;
}

.navbar-nav .nav-link {
  font-weight: bold;
  font-size: 1.1rem;
}

.profile-icon {
  width: 40px; 
  height: 40px; 
  border-radius: 50%;
  overflow: hidden;
}

.profile-icon img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.home-nav-hover:hover {
  background-color: white;
  color: #004cda !important;
}
.allNav {
  position: relative;
  display: block;
  text-align: center;
  font-size: 15px;
  line-height: 35px;
  font-weight: 700;
  opacity: 1;
  color: #222222;
  padding: 0px;
  text-transform: none;
  transition: all 300ms ease;
  font-family: 'Lora', serif;
}

.allNav::before {
  position: absolute;
  content: '';
  left: 0px;
  bottom: 0px;
  height: 2px;
  width: 0px;
  background-color: #222222;
 transition: all 300ms ease;
  -webkit-transition: all 300ms ease;
}

.allNav:hover {
  color: #004cda !important; 
}

.allNav:hover::before {
  width: 100%;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

